---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tiendas">
    <ul>
        <li>
            <a href="/tregul">Ver productos de Tregul</a>
        </li>
        <li>
            <a href="/kupa">Ver productos de Kupa</a>
        </li>

    </ul>
</Layout>