---
import Layout from "./Layout.astro";
---

<Layout title="kupa">
    <a href="/kupa">volver a Kupa</a>
    <section
        transition:animate="slide"
        class="flex gap-7 justify-center items-center flex-wrap text-white px-8% py-20"
    >
        <slot />
    </section>
</Layout>

<style>
    section {
        width: 100%;
        min-height: calc(100vh - 52px);
    }
</style>
